.container {
  text-align: center;
}

.question {
  margin: 3vw;
  font-size: 4vh;
  font-family: cursive, sans-serif;
  white-space: initial;
  overflow: hidden;
}

.category {
  margin: 2vw;
  font-size: 3.5vh;
  font-family: cursive, sans-serif;
}

.link {
  margin: 2vw;
  font-size: 4vh;
}

.answer {
  margin: 2vw;
  font-size: 4vh;
  font-weight: bold;
  color: rgb(6, 117, 21);
  font-family: cursive, sans-serif;
  white-space: initial;
  overflow: hidden;
}

iframe {
  width: 80vw;
  height: 30vh;
  max-width: 480px;
  max-height: 270px;
}

.buttons {
  position: fixed;
  height: 10%;
  bottom: 0%;
  right: 8px;
  width: calc(100% + 8px);
  display: grid;
  grid-template-columns: 30% 40% 30%;
}

.buttons button {
  font-size: 5vw;
  max-font-size: 5vw;
  font-weight: bold;
  font-family: cursive, sans-serif;
}

@media screen and (min-width: 1200px) {
  .buttons button {
    font-size: 60px;
  }
}

.wrong {
  background-color: rgb(231, 30, 30);
}

.right {
  background-color: rgb(22, 167, 41);
}

.reroll {
  background-image: linear-gradient(
    to right,
    rgb(231, 30, 30),
    yellow,
    rgb(22, 167, 41)
  );
}
