.container {
  text-align: center;
}

.question {
  margin: 3vw;
  font-size: 4vh;
  font-family: cursive, sans-serif;
}

.category {
  margin: 2vw;
  font-size: 3.5vh;
  font-family: cursive, sans-serif;
}

.link {
  margin: 2vw;
  font-size: 4vh;
}

.answer {
  margin: 2vw;
  font-size: 4vh;
  font-weight: bold;
  color: rgb(6, 117, 21);
  font-family: cursive, sans-serif;
}

.buttons {
  position: fixed;
  height: 10%;
  top: 90%;
  right: 8px;
  width: calc(100% + 8px);
  display: grid;
  grid-template-columns: 30% 40% 30%;
}

.buttons button {
  font-size: 40px;
  font-weight: bold;
  font-family: cursive, sans-serif;
}

.wrong {
  background-color: rgb(231, 30, 30);
}

.right {
  background-color: rgb(22, 167, 41);
}

.reroll {
  background-image: linear-gradient(
    to right,
    rgb(231, 30, 30),
    yellow,
    rgb(22, 167, 41)
  );
}
